body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3a6c62 !important;
}

code {
	font-family: 'Source Serif Pro', serif,
		monospace;
}

.checkbox {
	margin-right: 10px;
}
.todo_span {
	color: #eac854;
}

h1 {
	font-size: xx-large;
}